*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    height: 100vh;
    background: rgb(156, 216, 235);
}
section{
    width: 100%;
    /* height: 100%; */
    border: 10px solid blue;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-between;
    
}
section article {
    width: 100px;
    height: 100px;
    background: rgb(142, 129, 155);
    border: 1px solid black;
    margin: 5px;
    /* 글자들만 가운데 정렬 text-align: center */
    text-align: center ;
    /* 사각형의 가운데로 이동 */
    line-height: 100px;
}