@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
*{
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background: #333;
    /* position:relative; */
    /* header와 section을 좌우 배치하기 위해 flex설정 */
    display: flex;
}
main header{
    width: 20%;
    /* 100% -> 부모걸 그대로 쓰겠다 */
    height: 100%;
    /* !!!!! padding 부분의 적용이 되지 않습니다. 문제해결!! 콤마 문제*/
    padding: 10vh 5vw;
    /* border: 10px solid pink; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    position: relative;
    
}
main header h1{
    font-size: 0px;
    color: #fff;
}
main header h1 i{
    font-size: 5vw;
    margin-bottom: 15px;
}
main header h1 span{
    font: normal 0.8vw/1 "arial";
}
main header address{
    font: normal 11px/1.2 "arial";
    color: #888;
}
main nav{
    /* header와 section 사이 줄 */
    /* border: 10px solid aqua; */
    /* 파란사각형 옮김 */
    position: absolute;
    top:10vh;
    right: 5vw;
    
}
main nav ul{
    /* 자식 li 요소를 좌우 배치되도록 설정 */
    display: flex;
}
main nav ul li a{
    font-size: 18px;
    color: #bbb;
    margin-right: 30px;
}
main section{
    width: 80%;
    height: 100%;
    padding-top: 15vh;
    position: relative;
    display: flex;
    /* border: 10px solid yellow; */
}
main section article{
    /* 찾기, 우편 아이콘이 위로 올라옴 */
    position: relative;
    /* 모든 article 요소의 너비를 동등하게 적용 */
    flex: 1;
    padding: 70px 40px 100px;
    opacity: 0.6;
    /* flex, opacity 속성에만 전환 효과 적용 */
    transition: flex 1s, opacity 1s;
    /* 호버되지 않을 시 1 설정 */
    z-index: 1;
    cursor: pointer;
}
main section article::before{
    content: " ";
    display: block;
    width: 80%;
    height: 95%;
    background: #444;
    /* 회색 배경부분과 사진을 겹치게 해줌 */
    position: absolute;
    top: 0px;
    /* 마우스 호버 전 회색 긴 상자들이 왼쪽으로 200씩 옴 */
    left: -200px;
    /* 마우스 호버 전 회색 긴 박스의 투명도 0 */
    opacity: 0;
    transition: 1s;
}
main section article .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
}
main section article .inner .txt{
    width: 100%;
    transition: 0.5s; /*호버시 전환효과 처리 */
}
main section article .inner .txt h2{
    font: normal 2vw/1 "Alegreya Sans SC";
    color: #fff;
    margin-bottom: 40px;
    padding-top: 70px;
    transition: 1s;
}
main section article .inner .txt h2::after{
content: " ";
display: block;
width: 40px;
height: 2px;
background: #777;
margin-top: 20px;
transition: 1.5s;
}
main section article .inner .txt p{
    font: 14px/1.4 "arial";
    color: #999;
}
main section article .inner figure{
    width: 100%;
    height: 15vh;
    background: #777;
    /* 왼쪽 방향 기준으로 변형이 일어나도록 중심축 변경 */
    transform-origin: left center;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    /* 영상 박스의 채도를 낮춤 */
    filter: saturate(10%);
    transition: 1s;
}
main section article .inner figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
/* article 요소 호버 시 변경 구문 */
main section article:hover{
    /* 호버된 요소만 너비를 1.5배 증가 */
    flex: 1.5;
    opacity: 1;
    z-index:2;
}
/* article 요소 호버 시 ::before 변경 구문 */
main section article:hover::before{
    left: 0px;
    opacity: 1;
}
/* 호버 시 .txt변경 구문 */
main section article:hover .inner .txt{
    width: 75%
}
/* 숫자가 커짐 */
main section article:hover .inner .txt h2{
    font-size: 5vw;
    padding-top: 0px;
}
/* hover시 숫자 아래 박스가 오렌지 색으로 변함 */
main section article:hover .inner .txt h2::after{
    width: 120px;
    background: orange;
}
/* hover 시 칼라로 변함 */
main section article:hover .inner figure{
    height: 25vh;
    /* 선명하게 */
    filter: saturate(120%);
    transform: translateY(3vh);
}
main aside{
    width:100%;
    height: 100vh;
    background: #222;
    position: absolute;
    top:0px;
    /* 왼쪽 화면 바깥에 배치 */
    left: -100%;
    /* 투명도 0으로 비활성화 */
    opacity: 0;
    /* z축의 순서를 2로 설정하여 section은 덮고 h1과 nav는 aside 위에 배치 */
    z-index: 2;
    box-sizing: border-box;
    padding: 20vh 7vw 14vh 20vw;
    display: flex;
    /* 자식 요소인 .txt와 figure를 좌우 양 끝에 배치 */
    justify-content: space-between;
    /* 전환 효과 설정 */
    transition: 1s;
}
/* 클래스 on이 붙으면 */
main aside.on{
    opacity: 1;
    left: 0%;
}
main aside .txt{
    width: 25%;
    height: 100%;
}
main aside .txt h1{
    font: normal 6vw/1 "Alegreya Sans SC";
    color: #ddd;
    margin-bottom: 20px;
}
main aside .txt p{
    font: 1.1vw/1.3 "arial";
    color: #666;
    margin-bottom: 60px;
}
main aside .txt span{
    cursor: pointer;
    color: orange;
}
main aside figure{
    width: 72%;
    height: 100%;
}
main aside figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}